---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"code":"=fdmg6a94o0mx8expiiwdxd7bcp4cmb","client_id":"t938bux1oi880mo9q165wivwa93ped","client_secret":"kxuh2weyetvyjfdsds8oxhcyqzq2bl","redirect_uri":"http://localhost:3000/sessions/new","grant_type":"authorization_code"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5fe767c3-2f7406660b48426f1e177a4b
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"Invalid authorization code"}

        '
  recorded_at: Sat, 26 Dec 2020 16:41:39 GMT
recorded_with: VCR 6.0.0
